@tailwind base;
@tailwind components;
@tailwind utilities;

.oscillating {
  animation: bounce 0.8s ease-in-out infinite;
}

@keyframes bounce {
  0%{
    transform: translate(0, -50px);
  }
  50% {
    transform: translate(0, 0);
  }
  100%{
    transform: translate(0, -40px);
  }
}


.puppy_svg { 
  height: 100%;
	width: auto;
}

.primary_text_color{
  color: #D99E82;
}