@tailwind base;
@tailwind components;
@tailwind utilities;

.oscillating {
  animation: bounce 0.8s ease-in-out infinite;
}

@keyframes bounce {
  0%{
    transform: translate(0, -50px);
  }
  50% {
    transform: translate(0, 0);
  }
  100%{
    transform: translate(0, -40px);
  }
}


.puppy_svg { 
  height: 100%;
	width: auto;
}

.primary_text_color{
  color: #D99E82;
}

.goldCard{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
              radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #9c8140 100%);
}

.goldCardShadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.24) 0px 3px 8px;
}